body {
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.title {
  display: flex;
  align-items: center;
}

.title img {
  height: 50px;
  width: 50px;
  margin: 0 -15px;
}

.App header h1 {
  font-weight: normal;
}

main {
  height: 80vh;
  margin: 10vh 0 10vh;
  background-color: rgb(40, 37, 53);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 1.25rem;
}

.sign-out {
  padding: 8px 16px;
  border-radius: 5px;
}

/* main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #6649b8;
} */

footer {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  max-width: 728px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.poster {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

/* footer p {
  margin: 0;
} */

footer strong {
  font-size: 2rem;
  margin-left: 10px;
}

.reset {
  height: 40px;
  width: 40px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 50%;
}

.controls {
}

.total {
  border: solid white 10px;
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total h1 {
  font-size: 4.5rem;
  line-height: 4.5rem;
}
.small {
  background-color: #181717;
  height: 50px;
  width: 80px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 20px;
}

.streets {
  width: 90%;
}

.street {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
