body {
  background-color: rgb(40, 37, 53);
  color: white;
}

.App header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
}

.title img {
  height: 50px;
  width: 50px;
  margin: 0 -15px;
}

.App header h1 {
  font-weight: normal;
}

main {
  height: 80vh;
  margin: 10vh 0 10vh;
  background-color: rgb(40, 37, 53);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: #282c34;
  background-color: white;
  max-width: 400px;
  margin: 0 auto;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 1.25rem;
}

.sign-out {
  padding: 8px 16px;
  border-radius: 5px;
}

footer {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.poster {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

footer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
}

footer strong {
  font-size: 2rem;
  margin-left: 10px;
  line-height: 2rem;
  margin-bottom: 5px;
}

.reset {
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 10px;
}

.controls {
  width: 90%;
  position: relative;
}

.total {
  width: 50vw;
  max-width: 275px;
  height: 50vw;
  max-height: 275px;
  margin: 0 auto;
  position: relative;
}

.total input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.value {
  font-size: 4rem;
  line-height: 4rem;
  background-color: transparent;
  color: white;
  border: 1px solid rgb(255, 255, 255, 0.2);
  width: 110px;
  height: 70px;
  border-radius: 5px;
  text-align: center;
}

.capacity {
  position: absolute;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0px;
  right: 0px;
}

.capacity small {
  margin-bottom: 3px;
}

.capacity input {
  font-size: 2rem;
  line-height: 2rem;
  background-color: transparent;
  color: white;
  border: 1px solid rgb(255, 255, 255, 0.2);
  width: 100%;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}

.small {
  background-color: #181717;
  height: 40px;
  width: 60px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 20px;
}

.streets {
  width: 90%;
}

.street {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* remove number toggle from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
